auth.json
/.env.local
/.idea/*

/config/*
!/config/extends/
/config/extends/*
!/config/extends/.gitkeep

/var/*
!/var/log/
/var/log/*
!/var/log/.gitkeep
!/var/tmp/
/var/tmp/*
!/var/tmp/.gitkeep
/vendor/*