imports:
  - { resource: 'extends/*.yaml' }

services:
  _defaults:
    autowire: true
    autoconfigure: true
    bind:
      # Dockerizer project directory. Use this patch for filesystemParameterAwareCommand operations
      string $projectDir: '%kernel.project_dir%'
      # Relative to the current project directory
      iterable $commandArguments: !tagged_iterator console.commandArgument
      iterable $commandOptions: !tagged_iterator console.commandOption
  _instanceof:
    Symfony\Component\Console\Command\Command:
      tags: [ 'console.command' ]
    DefaultValue\Dockerizer\Console\CommandArgument\CommandArgumentInterface:
      tags: [ 'console.commandArgument' ]
    DefaultValue\Dockerizer\Console\CommandOption\OptionDefinitionInterface:
      tags: [ 'console.commandOption' ]
    DefaultValue\Dockerizer\DependencyInjection\DataTransferObjectInterface:
      shared: false
      public: true

# Uncomment when all old commands and services are rewritten
  DefaultValue\Dockerizer\:
    resource: '../src/*'

  DefaultValue\Dockerizer\Docker\Compose\Composition\TemplateCollection:
    arguments:
      $dir: './templates/composition/**/'

  DefaultValue\Dockerizer\Docker\Compose\Composition\Service\Collection:
    arguments:
      $serviceDir: './templates/service/**/'

#  app.dotenv:
#    class: Symfony\Component\Dotenv\Dotenv

#  local_infrastructure:
#    composition: ~/misc/apps/docker-infrastructure/local_infrastructure/docker-compose.yml
#    default_network: infrastructure_network

